* {
	font-family: sans-serif;
}
html {
	height: 100%;
}
body {
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: lightgray;
}
header {
	background-color: rgb(23, 26, 26);
	/*font-size: 2em;
	font-weight: bolder;
	color: white;
	flex: 0 0 auto;
	text-transform: uppercase;
	position: relative;*/
}
footer {
	background-color:rgb(23, 26, 26);
	color: white;
	text-align: center;
	flex: 0 0 auto;
}
main {
	flex: 1 0 auto;
}
section {
	display: block;
}
.cart-button {
	display: block;
	margin: 10px;
	margin-left: auto;
	font-weight: bold;
	font-size: 20px;
}
.img-products {
	display: block;
	margin: 0 auto;
	width: auto;
	height: 200px;
}
.goods-list {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.goods-item {
	background-color: white;
	border-radius: 1vw;
	box-shadow: 0 0 .5vw black;
	margin: 10px;
	padding: 10px;
	width: 280px;
	overflow: hidden;
	text-align: center;
}
.mini-cart {
	display: flex;
	flex-direction: column;
	width: 400px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	right: 0;
	max-height: 90%;
	overflow: auto;
	color: white;
}
.cart-item {
	display: flex;
	justify-content: space-between;
	height: 100px;
	display: flex;
	padding: 1px;
}
.cart-info {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	line-height: 0;
}
.img-cart {
	height: 100px;
	width: 100px;
	overflow: hidden;
	object-fit: cover;
}


.invisible {
	display: none;
}
